{% if inkml %}
<script id="inkml" type="application/inkml+xml">
{{- inkml -}}
</script>
<script>
// jquery
{{ include_file("onenote/js/jquery.min.js") }}
// https://github.com/Microsoft/InkMLjs
{{ include_file("onenote/js/inkml.min.js") }}
</script>
<script>
var inkml = document.getElementById('inkml').innerHTML;
var ink = new Ink(inkml, { keepOffsets: true, dpi: 96 });

var canvas = document.createElement('canvas');
canvas.width = ink.getPixelWidth();
canvas.height = ink.getPixelHeight();

document.body.appendChild(canvas);

ink.draw(canvas);
</script>
<style>
body { margin: 0 }
</style>
{% endif %}
